
*{
    margin: 0;
  padding: 0;
    box-sizing: border-box;
   
}


body {
  
background-color: black;
}

.container{
display: flex;
justify-content: center;

}





.button{
width: 110px;
  height: 80px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color:gray;
}
.button:hover {
  opacity: 0.5;
}

ul{
    list-style: none;
display: grid;
grid-template-columns: 200px 200px 200px;
gap: 50px;
justify-content: center;
}

li{
color: white;
border: 4px solid #8133ff;
border-radius:5px;
padding: 5px;


}

img{
    width: 100%;
    border-radius: 5px;
    height: 170px;
}
.salada{
height: 182px;

}
.item-price{
font-weight: bold;
color: #79cb15;

}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

ul{
    grid-template-columns: 100px 100px 100px;
gap: 20px;
justify-content: center;
  }


.button{

  
    width: 60px;
    font-size: 10px;
    line-height: 1;
    margin-right: 18px;

}

}